.NotFound{
    position: relative;
}
h1{
    position: absolute;
    top: 5rem;
    left: 1rem;
}
.SubTitle{
    position: absolute;
    top: 10rem;
    left: 1rem;
}
.SecondSub{
    position: absolute;
    top: 15rem;
    left: 1rem;
}

