.Logos {
    width: 80px;
    height: 80px;
    background: url("../../../../logo.png") no-repeat 0;
    background-size: 100%;
}

.Navigation {
    background-color: gray;
    height: 80px;
}

.Nav {
    display: flex;
}

.Nav ul {
    display: flex;
    width: 100%;
    /*justify-content: center;*/
    justify-content: space-between;
}

.Nav ul li {
    display: inline-flex;
    align-items: center;

}

.Nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
}

.Nav ul li  a:hover {
    background-color: #2287dc69;
    border-radius: 3px;
    box-shadow: -2px 4px 1px 0 rgba(50, 50, 50, 0.75);

}

.active{
    background-color: red;
    border-radius: 3px;
    box-shadow: -2px 4px 1px 0 rgba(50, 50, 50, 0.75);

}

